@page "/"

<PageTitle>Index</PageTitle>

<div class="row mb-4">
    <div class="col-12 card-header bg-dark text-white">
        <h1 class="card-title mb-0">Bienvenido al sistema de Facturación</h1>
    </div>
</div>


